<h1>
    Fin del metodo Random Play:
</h1>

<div>
    Preguntas correctas = <span id="score"><%= score %></span>
</div>

<p>
    Has contestado a todo. Bravo!
</p>

<p>
    <a href="/quizzes"><button>Vuelve</button></a>
</p>

